<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fif.fpaydevsteam.gamification">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name="com.fif.fpaydevsteam.gamification.di.GamificationApplication"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

    </application>
</manifest>
